[submodule "src/che_data_to_spatial_coord"]
	path = src/che_data_to_spatial_coord
	url = git@github.com:TopologicalKnotIndexer/che_data_to_spatial_coord.git
[submodule "src/spatial_coord_to_pd_code"]
	path = src/spatial_coord_to_pd_code
	url = git@github.com:TopologicalKnotIndexer/spatial_coord_to_pd_code.git
